body {
  margin: 0;
  padding: 0;
}

.date__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.date__result {
  margin-top: 15px;
  margin-bottom: 15px;
}

.date__input input {
  width: 150px;
}

.object {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object div {
  margin: auto;
}

.space__main {
  background-color: black;
  position: relative;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

.orbit {
  border: 1px dashed sandybrown;
}

#sun,
.orbit,
.orbit + div,
.orbit + div > div {
  position: absolute;
}

#sun,
.orbit,
.orbit + div {
  top: 50%;
  left: 50%;
}

.orbit + div > div {
  top: 0;
  left: 50%;
}

.orbit,
.orbit + div div {
  border-radius: 50%;
}

#sun {
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
  box-shadow: 0 0 84px tomato;
}

#earth {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50%;
}

.earth-orbit,
.earth-spin {
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
}

#moon {
  margin-top: -15px;
  margin-left: -15px;
  height: 30px;
  width: 30px;
}

.moon-orbit,
.moon-spin {
  height: 120px;
  width: 120px;
  margin-left: -60px;
  margin-top: -60px;
  border-color: aqua;
}
